<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{{ .Title | default .Site.Title }}</title>

    <link href='{{ "css/bootstrap.min.css" | absURL }}' rel='stylesheet' type="text/css" />
    <link href='{{ "css/sticky-footer.css" | absURL }}' rel='stylesheet' type="text/css" />
    <link href='{{ "css/font-awesome.min.css" | absURL }}' rel='stylesheet' type="text/css" />
</head>

<body>
    <header>
        {{ if .Params.featured_image }}
            <div class="jumbotron"></div>
            <style>
                header div.jumbotron {
                    margin-bottom: 0;
                    height: 300px;
                    background-image: url({{ .Params.featured_image }});
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: 50% 50%;
                }
            </style>
        {{ end }}

        {{ partial "navigation.html" . }}
    </header>


    <main class="container">
    <style>
        main.container {
            padding-top: 0;
        }
    </style>